<!-- xml -->
<launch> 

  <param name="/use_sim_time" value="true"/>
  
  <rosparam command="load" file="$(find orca_nav)/params/single_robot_goals.yaml"/>
  <node pkg="collvoid_controller" type="controller.py" name="controller" output="screen"/>

 
    <param name="tf_prefix" value="robot_0" /> 
    <param name="amcl/initial_pose_x" value="3" />
    <param name="amcl/initial_pose_y" value="3" />
    <include file="$(find orca_nav)/launch/move_base.launch" >     
      <arg name="robot_name" value="robot_0" /> 
    </include>
    <node pkg="collvoid_controller" type="controllerRobots.py" name="controllerRobots" output="screen" />
    

</launch>
